body {font-family: Arial;
	background-image:
	repeating-linear-gradient(to right,
 white 0px,bisque 5px,white 10px); 
	margin: 0px;
}
 header {
	background-color: white; 
	height: 80pt; 
	margin-bottom: 20pt;
	 
}
.pos1, .pos2, .pos3, .pos4 {
	position: absolute;

}
.pos2 {
	left: 181pt; 
	top: 29pt; 
	right: 0pt;
}
.pos2 h1 {
	font: bold italic 42pt Verdana; 
	text-transform: uppercase; 
	text-align: right; 
	letter-spacing: 10pt; 
	margin: 0px; 
	background-color: darksalmon; 
}
.pos1 {
	left: 0pt; 
	top: 0pt; 
	width: 140pt;
}
.pos1 img {height: 80pt;}
.pos3 {
	left: 140pt; 
	top: 4pt; 
	right: 70pt;
} 
.pos3 h1 {
font: bold 24pt Verdana;
text-transform: uppercase; 
text-align: right; 
letter-spacing: 6pt; 
margin: 0px; 
color: darksalmon; 
}
.pos4 {
	top: 0pt; 
	right: 20pt
}
.footer_order{
	background-color: yellow;
	position: absolute;
	top: 31pt;
    left: 260px;	 
    width: 168px;
    height: 83px;
	text-align: center;
    
}
.footer_order-zacas{
	position: relative;
	font-style: bold verdana;
    font: bold 21pt Verdana;
    font-style: italic;
    color: darkred;
}
/*h1 {
	font-size: 32pt;
	font-family: Verdana;
}
em {
	font-weight: normal;
	} */
p {
	font-size: 12pt !important;
	margin-top: 5pt;
	margin-bottom: 5pt;
}
p.greeting {
		font-size: 24pt;
}
/* .picture img {
	width:67%;
	min-width: 500px; 
	max-width: 700px; 
}	 */
.advertising {
	margin-left: 30pt;
}
footer {
	position: relative;
	text-align: right; 
	background-color: white; 
	height: 120pt; 
}
.bigger	{
	font-size: 16pt
}
table.pricelist th, table.pricelist td {
	border: gray thin solid; 
	padding: 4px;
}
table.catalog {border-collapse: collapse;}
table.catalog td {
	border-top: black thin dotted; 
	border-bottom: black thin dotted; 
	padding: 10px;
}
table.catalog img {width: 200px;}
table.pricelist thead th {
	color: white; 
	background-color: grey; 
}
tfoot {font-style: italic;
	text-align: right;
	font-weight: 10px; 
}
nav {
	float: left;  
	width: 150px;
	margin: 10px 40px 20px 0px; 
	padding: 10px;
	 /* border: black medium solid ;  */
	/* border-radius: 10px;s */
	box-shadow: 0px 0px 0pt 5pt darkgrey,
	0px 0px 0px 5pt inset darkgrey;  
	/* margin-right: 40px;  */
	/* margin-bottom: 20px;  */
}
nav div, nav a {
		font-size: 20pt;
	margin-top: 5px;
	margin-bottom: 5px;
}
nav a {display: block;}
 nav a:link, nav a:visited {  
	color: darkred; 
	text-decoration: none;
}
nav a:active, nav a:hover {
	color: darksalmon; 
	text-decoration: none;
}
/* nav a:target {border: 1px solid red} 		 */
table.catalog tr:first-child td {
	border-top: none;
}
table.catalog tr:last-child td {
	border-bottom: none;
}
table.catalog td p:first-of-type::first-letter {
	font-size: 24pt; 
}
table.pricelist th { text-align: center;
}
table.pricelist td:last-child:not(:only-child) {
	border: none;
	background-color: lightgray;
}
@font-face {
	font-family: "Caviar Dreams"; 
	src: url(../fonts/CaviarDreams.ttf);
}
@font-face { 
	font-family: "Caviar Dreams"; 
	src: url( ../fonts/Caviar_Dreams_Bold.ttf); 
	font-weight: bold;
}
@font-face {
	font-family: "Caviar Dreams"; 
	src: url(../fonts/CaviarDreams_Italic.ttf); 
	font-style: italic;
} 
@font-face { 
	font-family: "Caviar Dreams"; 
	src: url(../fonts/CaviarDreams_Bolditalic.ttf);
	font-weight: bold; 
	font-style: italic;
	}
table.catalog h3 {
		font-family: "Caviar Dreams"; 
		font-size: 20pt;
		letter-spacing: 2pt;
	}
table.catalog h3::after {content: ":";}
h1 {
	font-size: 32pt; 
	font-family: Verdana; 
	text-shadow: 3pt 3pt 5pt darkgrey;
	}
h3::first-letter {
		vertical-align: baseline;
		vertical-align: text-bottom;
	}
	/* h3 {letter-spacing: 2pt;} */
	.catalog p::first-letter {vertical-align: text-top;}
ol {
	list-style-type: upper-roman;
}
table tr {
	width: 70%;
min-width: 12cm;
}
table td {width: 50%;}
table img {width: 100%;}
form {
width: 400px; 
padding: 0px 10px; 
border: thin dotted darkgrey; 
border-radius: 5px;
}
input, select {
	font: 14pt Courier;
	padding: 5px;
	border: medium double black;
	border-radius: 5px;
}
input[type=submit] {
	font: bold 20pt Verdana; 
	text-transform: uppercase; 
	width: 250px; 
	border: thick solid black; 
	border-radius: 0px;
}
input[type=image] {border-style: none; }
input:focus {
	background-color: yellow;
}
input:enabled {
	background-color: greenyellow;
}
input:invalid{
	background-color: red;
}
.img_suhi {
	height: 100%;
}


